body {
    font-family: sans-serif;
    background-color: #ecf0f1;
    color: black;
    text-align: center;
}

/* Pour des canvas redimensionnables */
.resizeBox {
    /*display: inline-block;*/
    /* Padding pour Google Chrome, l'élement n'est pas redimensionnable sans */
    padding-right: 15px;
    padding-bottom: 15px;
    resize: both;
    overflow: hidden;
    /* Icône de redimensionnement */
    background-image: url("images/resize.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    /* Limite la taille à 100%, le parent doit donc avoir une taille fixe ! */
    max-width: 100%;
}

.resizeBox > canvas {
    width: 100%;
    height: 100%;
    margin: 0;
}

/* Pour le l'explorateur de JSON */

.json-block {
    font-family: monospace;
    text-align: left;
}

.json-object, .json-array {
    padding-left: 18px;
    margin-left: 2px;
    border-left: 1px solid #CCCCCC;
    display: none;
}

/*.json-object-content {
   
}

.json-array-content {
    
}*/

.json-pointer, .json-pointer-expended, .json-pointer-collapsed {
    cursor: pointer;
    display: inline;
}

.json-pointer-expended:before {
    content: "\25BC"; /* Flèche vers le bas */
    color: #AAAAAA;
}

.json-pointer-collapsed:before {
    content: "\25BA"; /* Flèche vers la droite */
    color: #AAAAAA;
}

.json-collapsed {
    display: inline;
    cursor: pointer;
}

.json-collapsed:after {
    content: " ... ";
}

/* Pour la page d'accueil */
#navbar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100vw;
    margin: 0;
    padding: 10px;
    color: #f5f6fa;
    background-color: #0a3d62;
}

#title {
    font-size: 25px;
    font-weight: bold;
}

#new-search {
    width: 100%;
    text-align: right;
    padding-right: 25px;
}

#new-search > form > input {
    width: 15vw;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 5px;
}

#new-search > form > input:focus {
    box-shadow: inset 0 0 5px #0a3d62;
}

#new-search > form > button {
    width: 39px;
    height: 39px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: middle;
    background-image: url(images/search.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 36px 36px;
    background-color: #F0F0F0;
    margin-top: -2px;
}

#new-search > form > button:hover {
    background-color: white;
    box-shadow: inset 0 0 5px #bfdff7;
}

#results-feed {
    text-align: center;
    width: 100%;
    padding-top: 100px;
}

/* Résultat d'une recherche */
.search-result {
    display: inline-block;
    background-color: #F0F0F0;
    width: 80%;
    border: 1px solid #B0B0B0;
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 10px;
}

.search-word {
    display: inline-block;
    background-color: #bebcbc;
    padding: 10px;
    margin: 5px;
    border: 1px solid #808080;
    border-radius: 10px;
    cursor: pointer;
}

.search-word:hover {
    background-color: #a19f9f;
}

.error {
    background-color: #AA0000;
    border: 2px dotted red;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

.delete-search {
    width: 100%;
    text-align: right;
    font-size: 13px;
}

.delete-search > span {
    cursor: pointer;
}

.search-title {
    font-size: 15px;
    text-align: left;
}