body {
    font-family: sans-serif;
}

/* Pour des canvas redimensionnables */
.resizeBox {
    /*display: inline-block;*/
    /* Padding pour Google Chrome, l'élement n'est pas redimensionnable sans */
    padding-right: 15px;
    padding-bottom: 15px;
    resize: both;
    overflow: hidden;
    /* Icône de redimensionnement */
    background-image: url("images/resize.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 15px 15px;
}

.resizeBox > canvas {
    width: 100%;
    height: 100%;
    margin: 0;
}